{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
    <title>Neue SPV</title>
<body>
    <h1>Neue SPV zur Datenbank hinzufügen</h1>
    <form class="my-custom-form" method="post">
        {% csrf_token %}
        <h2>Hauptdaten</h2>
        {% crispy spv_form %}
        <h2>Standort</h2>
        {% crispy location_form %}
        <h2>Unternehmensdaten</h2>
        {% crispy company_form %}
        <h2>Meilensteine</h2>
        {% crispy milestones_form %}
        <button type="submit" class="custom-button">Submit</button>
    </form>
</body>
</html>